.post-container {
  background-color: #F5F5F5;
  margin-bottom: 5px;
  padding: 0px 20px;
  border: solid black 1px;
}

.post-title {
  color: #405077;
  padding-left: 10px;
  font-size: 24px;
  font-weight: 900;
  cursor: pointer;
}

.pad-left {
  padding-left: 50px;
}

li {
  list-style: none;
}

.edit-btn {
  margin-bottom: 20px;
  cursor: pointer;
}