<div class="form-container">
  <form [formGroup]="postForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <strong><label for="title" x>Title</label></strong><br />
      <input formControlName="title" size="60" required><br />
      <p class="form-error" *ngIf="postForm.get('title').errors?.required">
          You must enter a title.
      </p>
      <p class="form-error" *ngIf="postForm.get('title').errors?.maxlength">
        Title can only be up to 50 characters long.
      </p>
    </div>
    <div class="form-group">
      <strong><label for="author">Author</label></strong><br />
      <input formControlName="author" size="30" required><br />
      <p class="form-error" *ngIf="postForm.get('author').errors?.required">
          You must enter an author.
      </p>
      <p class="form-error" *ngIf="postForm.get('author').errors?.maxlength">
        Author can only be up to 30 characters long.
      </p>
    </div>
    <button type="submit" [disabled]="!postForm.valid">{{editLabel}}</button>
  </form>
</div>
